:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
   
    display: flex;
    flex-direction: column;
    margin: 5vw;
}

.banner  {
    background-image: url("orange.jpg");
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 2px #000000;
    display: flex;
    flex-direction: row;
    
}


.banner .card .heading {
    
     
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1vh;
    padding: 5vw;
    
}


 .my-image {
    border: 5px solid #FFA500;
    border-radius: 80px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 25vw;
    display:center;
}
.row {

     
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}

.paragraph {
    
    text-align: justify;
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    padding: 5vw 5vw 5vw 0;
}



li {
     font-size: 2rem;   
     text-orientation: right;
    text-shadow: 3px 2px  #0000ff;
}

.icon-group {
    margin-top: 2vh;
}

 .icon {
    color:#000000;
    margin-right: 10px;
    width: 25px;
}
@media only screen and (max-width: 725px) {
    .banner {
        flex-direction: column;
    }
    .banner .card .heading{
        order:-1;
        width:50vw;
    }
    .banner .image {
        order: -1;
    }
    .banner .my-image {
        width: 60vw;
    }
}

